nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header{
    background-image: url(./background.avif);
    background-size: cover;
    background-position: center;
    padding: 30px;
}

header h1{
    text-align: center;
    text-decoration: none;
    color: white;
}

main{
    padding: 20px;
}

.contact {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darkcyan;
}

footer {
    padding: 20px;
    background-color: lightseagreen;
    text-align: center;
    color: white;
}